{% extends 'base.html' %}
{% load static %}
{% load split_filter %}

{% block title %}
<title>Serials</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/card_movie.css' %}">
<link rel="stylesheet" href="{% static 'css/footer/footer.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="{% static 'css/panel/panel.css' %}">
{% endblock  %}

{% block content %}
{% include "includes/panel.html" %}

<div class="count-movie">
    <h1>Сериалы {{serials|length}}</h1>
</div>

<div class="content">
    <div class="movie-grid">
        {% for serial in serials %}
        <a href="{% url "index:serial-detail" serial.slug %}">
            <div class="movie-card">
                    {% if serial.image %}
                        <img src="{{serial.image.url}}" alt="{{serial.name}}">
                    {% else %}
                        <img src="{% static 'images/not_image.jpeg' %}" alt="...">
                    {% endif %}
                <div class="movie-info">
                    <h3>{{serial.name}}</h3>
                    <div class="movie-card-rating-container">
                        <div class="movie-card-rating kinopoisk">
                            <span class="source">Кинопоиск</span> {{ serial.rating }}
                        </div>
                        <div class="movie-card-rating imdb">
                            <span class="source">IMDb</span> {{ serial.rating_imdb }}
                        </div>
                    </div>
                    <div class="movie-card-details-container">
                        <div class="movie-card-detail">
                            <i class="fas fa-clock"></i>
                            <span>{{ serial.time|split:"."|first }}ч {{ serial.time|split:"."|last }}м</span>
                        </div>
                        <div class="movie-card-detail">
                            <i class="fas fa-calendar-alt"></i>
                            <span>{{ serial.year }}</span>
                        </div>
                        <div class="movie-card-detail">
                            <i class="fas fa-film"></i>
                            <span>{{ serial.category_serial }}</span>
                        </div>
                        <div class="movie-card-detail">
                            <i class="fas fa-exclamation-circle"></i>
                            <span>{{ serial.age }}+</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% include "includes/footer.html" %}
{% endblock %}
