{% extends "base.html" %}
{% load static %}

{% block title %}
<title>{{ film.name }} - Movie Flow</title>
{% endblock %}

{% block css %}
<link href="https://vjs.zencdn.net/7.14.3/video-js.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/video_player.css' %}">
<link rel="stylesheet" href="{% static 'css/footer/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/panel/panel.css' %}">
{% endblock %}

{% block content %}
{% include "includes/panel.html" %}
<div class="video-container">
    <video id="movie-video" class="video-js vjs-default-skin" controls preload="auto" width="100%" height="600px">
        {% for label in film.get_video_sources %}
            <source src="{% url "video_player:stream_video" film.slug 480 %}" type="video/mp4" label="{{ label }}" res="{{ label }}">
        {% endfor %}
        Your browser does not support the video tag.
    </video>
    <div class="quality-menu">
        <button class="quality-button"><i class="fa fa-cog"></i> Quality</button>
        <div class="quality-options">
            {% if film.video_medium %}
                <a href="#" data-quality="{% url "video_player:stream_video" film.slug '480p' %}">480p</a>
            {% endif %}
            {% if film.video_high %}
                <a href="#" data-quality="{% url "video_player:stream_video" film.slug '720p' %}">720p</a>
            {% endif %}
            {% if film.video_hd %}
                <a href="#" data-quality="{% url "video_player:stream_video" film.slug '1080p' %}">1080p</a>
            {% endif %}
        </div>
    </div>
</div>
{% include "includes/footer.html" %}
{% endblock %}

{% block javascript %}
<script src="https://vjs.zencdn.net/7.14.3/video.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script> <!-- Подключаем FontAwesome -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var player = videojs('movie-video');
        var qualityButton = document.querySelector('.quality-button');
        var qualityMenu = document.querySelector('.quality-menu');
        var qualityOptions = document.querySelectorAll('.quality-options a');

        qualityButton.addEventListener('click', function() {
            qualityMenu.classList.toggle('show');
        });

        qualityOptions.forEach(function(option) {
            option.addEventListener('click', function(event) {
                event.preventDefault();
                var selectedQuality = this.getAttribute('data-quality');
                var currentTime = player.currentTime();

                player.src({ type: 'video/mp4', src: selectedQuality });
                player.play().then(() => {
                    player.currentTime(currentTime);
                });

                qualityMenu.classList.remove('show');
            });
        });

        // Закрыть меню при клике вне его
        document.addEventListener('click', function(event) {
            if (!qualityMenu.contains(event.target)) {
                qualityMenu.classList.remove('show');
            }
        });

        // Добавляем обработчик событий для перемотки при нажатии стрелок на клавиатуре
        document.addEventListener('keydown', function(event) {
            if (event.key === 'ArrowRight') {
                player.currentTime(player.currentTime() + 10); // Перемотка вперед на 10 секунд
            } else if (event.key === 'ArrowLeft') {
                player.currentTime(player.currentTime() - 10); // Перемотка назад на 10 секунд
            } else if (event.key === 'а' || event.key === 'А' || event.key === 'F' || event.key === 'f') {
                if (player.isFullscreen()) {
                    player.exitFullscreen();
                } else {
                    player.requestFullscreen();
                }
            }  else if (event.key === ' ' || event.key === 'Spacebar') {
                event.preventDefault(); // Предотвращаем прокрутку страницы
                if (player.paused()) {
                    player.play();
                } else {
                    player.pause();
                }
            }
        });
    });
</script>
{% endblock %}