{% load static %}

<footer class="footer">
    <div class="footer-container">
        <div class="footer-logo">
            <img src="{% static 'images/movie.png' %}" alt="Logo">
            <p>Фильмы, сериалы и мультфильмы</p>
            <p>Просматривая материалы, находящиеся на данном сайте, Вы обязуетесь выполнять условия пользовательского соглашения</p>
            <p>Все права защищены, материалы предоставляются только для ознакомления</p>
            <p>© 2024-2024 Movie Flow 18+</p>
            {% comment %} <div class="social-icons"> {% endcomment %}
                {% comment %} <a href="#"><img src="{% static 'images/vk_icon.png' %}" alt="VK"></a>
                <a href="#"><img src="{% static 'images/telegram_icon.png' %}" alt="Telegram"></a> {% endcomment %}
            {% comment %} </div> {% endcomment %}
        </div>
        <div class="footer-links">
            <div class="footer-column">
                <h3>Movie Flow</h3>
                <ul>
                    <li><a href="#">Подписка Movie Flow+</a></li>
                    <li><a href="#">Заказать контент</a></li>
                    <li><a href="#">О проекте</a></li>
                    <li><a href="#">Поддержать проект</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Помощь</h3>
                <ul>
                    <li><a href="#">Вопросы и ответы (FAQ)</a></li>
                    <li><a href="#">Служба поддержки</a></li>
                    <li><a href="#">Чат Вконтакте</a></li>
                    <li><a href="#">Чат Telegram</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Другое</h3>
                <ul>
                    <li><a href="#">Заявка на удаление контента</a></li>
                    <li><a href="#">Правообладателям</a></li>
                    <li><a href="#">Пользовательское соглашение</a></li>
                    <li><a href="#">Политика конфиденциальности</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
