.footer {
    background-color: #231a24;
    font-family: 'Arial', sans-serif;
    color: #ccc;
    padding: 40px 40px; /* Добавим отступы сверху/снизу и слева/справа */
    display: flex;
    justify-content: center;

}

.footer-container {
    max-width: 1200px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 20px; /* Добавим отступ слева */
    gap: 35px;

}

.footer-logo {
    flex: 1;
    min-width: 250px;
}

.footer-logo img {
    width: 150px;
}

.footer-logo p {
    margin: 10px 0;
}

.footer-logo a {
    color: #00bfff;
    text-decoration: none;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    flex: 2;
    min-width: 250px;
}

.footer-column {
    flex: 1;
    margin: 0 20px;
    min-width: 150px;
}

.footer-column h3 {
    color: #fff;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #ccc;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin-right: 10px;
}

.social-icons img {
    width: 32px;
    height: 32px;
}
